/abnormal.png
/corr.png
/FordA.ipynb
/FordA.txt
/FordA_TEST.arff
/FordA_TEST.ts
/FordA_TEST.txt
/FordA_TRAIN.arff
/FordA_TRAIN.ts
/FordA_TRAIN.txt
/ford_a_sensor.png
/ford_data_ts_sample1.png
/Ford_기술사양서.pptm
/logistic_regression_numpy_cm.png
/logistic_regression_numpy_roc.png
/logistic_regression_roc.png
/logistic_regression_sklearn_cm.png
/lr_learning_curve.png
/normal.png
/plt
/requirements.txt
/save_pathabnormal.png
/save_pathnormal.png
/test.py
/Untitled-1.ipynb